<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AutoCompleteController</servlet-name>
        <servlet-class>com.stressmeasurement.controller.AutoCompleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStressMeasurements</servlet-name>
        <servlet-class>com.stressmeasurement.controller.RegisterStressMeasurements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.stressmeasurement.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.stressmeasurement.controller.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StressMeasurementController</servlet-name>
        <servlet-class>com.stressmeasurement.controller.StressMeasurementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateStress</servlet-name>
        <servlet-class>com.stressmeasurement.controller.CalculateStress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoCompleteController</servlet-name>
        <url-pattern>/AutoCompleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStressMeasurements</servlet-name>
        <url-pattern>/RegisterStressMeasurements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StressMeasurementController</servlet-name>
        <url-pattern>/StressMeasurementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateStress</servlet-name>
        <url-pattern>/CalculateStress</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>measurementList.jsp</welcome-file>
        <!--       <welcome-file>index.jsp</welcome-file>-->
    </welcome-file-list>
</web-app>
